<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h2>{{subtitle}}</h2>
      <p>This site was created by Vilson Lu. It uses data from mapbox.com and darksky.net</p>
    </div>
    {{>footer}}
  </body>
</html>